*{
margin: 0;
padding: 0;
box-sizing: content-box;
}

header {
background-image: url("../images/bg-header.jpg");
background-position: top;
background-repeat: no-repeat;
height: 600px;
}

.container {
outline: 1px solid red;
margin: 0 auto;
width: 960px;
height: 400px;
text-align: center;
}

nav{
width: 960px;
margin: 0 auto;
}
.menu {
outline: 1px solid yellow;
padding: 5px;
text-align: right;
height: 165px;
}

.logo{
width: 50%;    
}

.logo img{
width: 170px;
height: 70px;
float: left;    
}

.menu li{
display: inline;
}

.menu a{
font-family: 'Open Sans', sans-serif;
text-decoration: none;
text-transform: uppercase;
color: rgb(255 255 255);
margin: 15px;    
}

.container h1 {
font-family: 'Open Sans', sans-serif;
color: rgb(255 255 255);
text-transform: uppercase;
font-size: 450%;
}

.container span {
font-family: 'Acme', sans-serif;
color: rgb(255 255 255);
text-align: center;
font-size: 300%;
font-style: italic;   
}

.container a{
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
text-decoration: none;
color:rgb(255 255 255);
border-radius: 5px;
border:solid 1px gold;
background-color: gold;
padding: 15px 30px 15px 30px;
}

.apresentacao{
margin: 0 auto;
width: 960px;
text-align: center; 
}

.apresentacao h2{
font-family: 'Open Sans', sans-serif;
font-size: 2em;
text-transform: uppercase;    
text-align: center;
color: gold;
margin-top: 25px;
}

.apresentacao p{
font-family: 'Acme', sans-serif;
font-size: 1.4em;    
text-align: center;    
color: darkgray;
margin-bottom: 25px;	    
}
.apresentacao h3{
font-family: 'Open Sans', sans-serif;
font-size: 1.7em;    
margin: 25px 0;
text-align: center;  
}

.apresentacao h6{
font-family: 'Open Sans', sans-serif;
font-size: 1em;
}

.apresentacao img{
display: inline-block;	
margin: 15px;
clear: both;	
}

.aviao{
width: 157px;
text-align: center;
float: left;	
}

.aviao h6{
margin-bottom: 50px;
}

.campo{	
width: 157px;
text-align: center;
float: left;
}

.campo h6{
margin-bottom: 50px;
}

.servico{	
width: 157px;
text-align: center;
float: left;
}

.servico h6{
margin-bottom: 50px;
}

.chief{	
width: 157px;
text-align: center;
float: left;	
}

.chief h6{
margin-bottom: 50px;
}

.sacola{	
width: 157px;
text-align: center;
float: left;	
}

.sacola h6{
margin-bottom: 50px;
}

.estudante{
width: 157px;
text-align: center;
float: left;	
}

.estudante h6{
margin-bottom: 50px;
}

.apresentacao a{
font-family: 'Open Sans', sans-serif;
color:rgb(255 255 255);
text-decoration: none;
text-transform: uppercase;
border: solid 1px gold;
background-color: gold;
border-style: dashed;
padding: 15px 40px;
border-radius: 5px;
}

.pessoas{
margin: 0 auto;
width: 960px;	
}

.pessoas h3{
font-family:  'Open Sans', sans-serif;
font-size: 1.7em;
text-align: center;
margin: 20px 0 10px 0;
font-style: bold;
}

.pessoas p{
font-family:  'Acme', sans-serif;
font-size: 1.4em;
text-align: center;
color: darkgrey;
margin-bottom: 30px;	
}


.profisisonais{
width: 960px;
margin: 0 auto;
padding: 25px;
background-color: rgb(245,245,245);	
}

.profissionais img {	
display: inline-block;
width: 200px;
height:200px;
border-radius: 100px;
margin-bottom: 50px;	
}

.joao{
float: left;
margin:25px;
text-align: center;
width: 239px;	
}

.joao h3{
font-family:  'Open Sans', sans-serif;
}

.joao p{
font-family:  'Acme', sans-serif;
color: rgb(119,119,119);
margin-bottom: 80px;
}

.patricia{
float: left;
margin: 25px;
text-align: center;
width: 239px;
}

.patricia h3{
font-family:  'Open Sans', sans-serif;
}

.patricia p{
font-family:  'Acme', sans-serif;
color: rgb(119,119,119);
margin-bottom: 80px;
}

.miguel{
float: left;
margin: 25px;
text-align: center;
width: 239px;	
}

.miguel h3{
font-family:  'Open Sans', sans-serif;	
}

.miguel p{
font-family:  'Acme', sans-serif;
color: rgb(119,119,119);
margin-bottom: 80px;
}

.jean{
float: left;
margin:25px;
text-align: center;
width: 239px;
}

.jean h3{
font-family:  'Open Sans', sans-serif;
}

.jean p{
font-family:  'Acme', sans-serif;
color: rgb(119,119,119);
margin-bottom: 80px;
}

.question{
width: 960px;
margin: 0 auto;	
}

.question h3{
font-family:  'Open Sans', sans-serif;
font-size: 1.7em;
text-transform: uppercase;
color: gold;
text-align: center;
margin: 50px 0 20px 0;
}

.question p{
font-family:  'Acme', sans-serif;
text-align: center;
color: darkgrey;
font-size: 1.4em;
margin-bottom: 60px;	
}

.recursos{
width: 960px;
margin: 0 auto;	
}

.recursos h4{
font-family:  'Open Sans', sans-serif;
font-size: 1.7em;	
}

.recursos p{
font-family:  'Acme', sans-serif;
text-align: left;
color: darkgrey;
font-size: 1.4em;
margin-top: 20px;	
}

.recursos img{
width: 400px;
height: 250px;
float: right;	
}
